<% @posts.reverse.each do |post| %>
  <div id=<%= post.id %> >
  <p><%= simple_format(post.message) %></p>
  likes: <%= post.likes.count %>
  <p><%= post.created_at.strftime('at %R on %d/%m/%y') %></p>
  <%= link_to 'Comments', post_path(post) %>
  <!-- <button>Like</button> -->
   </div>
<% end %>
<br>

<%= link_to new_post_path do %>
  New post
<% end %>
