<p>
<%= @post.message %>
</p>

<h2>Comments</h2>
<ul>
<% @post.comments.each do |comment| %>
<li>
<%= comment.body %>
</li>
<% end %>
</ul>

Add a comment:
<% if current_user %>
  <%= form_for([@post, @post.comments.build]) do |form| %>
    <p>
      <%= form.text_area :body %>
    </p>

    <p>
      <%= form.submit "Post comment" %>
    </p>
  <% end %>
<% else %>
  <p>Please <%= link_to "sign up", new_user_path %> to comment on a post!</p>
<% end %>

<%= link_to posts_path do %>
  Back to Posts
<% end %>
