<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% flash.each do |message_type, message| %>
      <div><%= message %></div>
    <% end %>

    <!-- NAVBAR ITEMS GO HERE -->
    <!-- Sign up needs to point to new_user_path -->
    <!-- Log in needs to point to login_path -->
    <%= link_to "Home", posts_url %>
    <%= link_to "Posts", posts_url %>
    <%= link_to "Log In" %>
    <%= link_to "Sign Up" %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
